#box
{
    -fx-background-color: #41080c;
}

#label
{
    -fx-text-fill: greenyellow;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

#big-red-button
{
    -fx-background-image: url(/assets/css/button1.png);
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Arial";
    -fx-font-size: 22px;
}

#big-red-button:hover
{
    -fx-background-image:  url(/assets/css/button_hover1.png);
    -fx-background-color: transparent;
    -fx-text-fill: #6b6b6b;
}

#bordered-vbox
{
    -fx-border-color: #000000;
    -fx-border-width: 10px;
    -fx-background-color: #2b411d;
    -fx-background-image: url(/assets/css/background_image.png);
}

#army-label
{
    -fx-background-image: url(/assets/css/button2.png);
}